* {
  margin: 0px;
  padding: 0px;
}


.paper {
  padding: 20px;
  /* background-color: rgb(233, 232, 231) !important; */
  margin-top: 10px;
}
.mainGridComp {
  /* background-color: aquamarine; */
}
.insideGrid {
  /* background-color: burlywood; */
}
.avatarGrid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: aqua; */
}
.headingFour {
  margin: 0;
  text-align: left;
}
.dateParagraph {
  text-align: left;
  color: gray;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .avatarGrid {
    justify-content: center !important;
  }
  .headingFour {
    text-align: center !important;
  }
  .dateParagraph {
    text-align: center !important;
  }
}
