* {
  margin: 0px;
  padding: 0px;
}
.title {
  font-weight: bold !important;
  text-align: justify;
}
.blogDetails {
  text-align: justify;
}
.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Optional: space between each card content */
  /* padding: 10px; */
  background-color: rgb(244, 238, 238);
  /* height: 50px; */
  margin: 0;
}

.footer-box {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-self: center;
  gap: 8px; /* Space between icon and number */
  /* background-color: bisque; */
}

.icon {
  font-size: 10px;
  display: flex;
  align-items: center;
  align-self: center;
  color: #555;
  margin: 0px;
}

.paragraphTag {
  margin: 0;
  /* margin-top: 8px; */
  font-size: 14px;
  color: #333;
}
#footerBox {
  margin-top: 8px;
}
#comntParag {
  margin-bottom: 2px;
}
.card {
  cursor: pointer;
}
.media {
  height: 400px;
}
.like-btn {
  margin: 0px;
  background: none !important;
  /* color: black !important; */
}
.like-btn > p {
  margin-left: 8px;
}

@media screen and (max-width: 600px) {
  .emptyGrid {
    display: none;
  }
}
/* @media screen and (max-width: 900px) {
  .avatarGrid {
    justify-content: center !important;
  }
  .headingFour {
    text-align: center !important;
  }
  .dateParagraph {
    text-align: center !important;
  }
} */

.share-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-Handle-Sec {
  /* background-color: #555; */
  width: 100%;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
}
.commentTextSec {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 6px;
  padding: 10px 0px;
}
.buttonAndParag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 5px;
}
.share-icon {
  margin-right: 10px;
}

.allSocialButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 5px; */
  /* margin: 0; */
  margin-top: 3px;
}
.copyURL {
  /* background-color: aqua; */
  /* text-align: center !important; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextField {
  /* width: 100%; */
  padding: 10px;
}
.URL-copy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textURLBtn {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.textURL {
  width: 100% !important;
}
.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  /* border: 1px solid; */
}

.userComments-Sec {
  /* border: 2px solid green; */
  padding: 10px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.headingTwo {
  margin: 5px 0px;
}
.avatarSelf {
  /* border: 2px solid rgb(11, 11, 192); */
}
/* .userComments-Sec {
  padding: 10px;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.headingTwo {
  margin: 5px 0px;
}
.paper {
  padding: 20px;
  margin-top: 10px;
}
.mainGridComp {
}
.insideGrid {
}
.avatarGrid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headingFour {
  margin: 0;
  text-align: left;
}
.dateParagraph {
  text-align: left;
  color: gray;
  margin: 0;
  padding: 0;
} */
